img{
    width: 360px;
    height: 215px;
}

.container{
    text-align: center;
    padding: 19% 0;
    margin: 0;
    background-color:  #e3101c;
}

.errors{
    color: blueviolet;
    background-color: chartreuse;
    padding: 6px;
}

#countdown{
    font-size: 5vh;
    margin: 9%;
}

button{
    margin: 4% 0;
}

footer{
    padding: 0;
    text-align: center;
    background-color: #e3101c;
}